body{
    margin: 0%;
}
#mot{
    background-color: white;
    height: 50px;
    width: 100%;
    border: 5px solid #6d6d6d;
    margin-bottom: 5px;
}
#hai{
    background: rgb(179, 206, 206);
    height: 55px;
    width: auto;
    border: 1px solid #6d6d6d;
    margin-bottom: 5px;
}
#mottronghai{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

#mottronghai li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

#ba{
    min-height: 600px;
    width: 350px;
    border: 5px solid #6d6d6d;
    float: left;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

#bon{
    min-height: 744px;
    width: 1000px;
    float: right;
    border: 5px solid #6d6d6d;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;

}
#nam{
  border: 5px solid #666666;
  margin-bottom: 5px;
  clear:both;
  text-align: center;
}